@import url(./reset.css);

html,
body {
    background-color: #000;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}


header {
    width: auto;
    height: 100px;
    background-image: url(../images/bg_header_wrap.gif);
    border-bottom: 2px solid #ff0459;
    margin: 1rem;
}

.inner-wrap {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #000;
}

nav ul li a {
    display: block;
    background-image: url(../images/watchabar\ complete.gif);
    height: 60px;
    color: transparent;
    background-repeat: no-repeat;
    transition: 0.3s;
}

nav ul li:hover a {
    background-position-y: -70px;
}

nav ul li:nth-child(1) a {
    width: 83px;
}

nav ul li:nth-child(2) a {
    width: 114px;
    background-position-x: -85px;
}

nav ul li:nth-child(3) a {
    width: 70px;
    background-position-x: -200px;
}

nav ul li:nth-child(4) a {
    width: 85px;
    background-position-x: -270px;
}

nav ul {
    background-color: 000;
    gap: 10px;
    position: relative;
    top: 18px;
}

.content1 {
    background-image: url(../images/watchabox1.gif);
}

.content2 {
    background-image: url(../images/watchabox2.gif);
}

.content3 {
    background-image: url(../images/watchabox3.gif);
}

.content4 {
    background-image: url(../images/watchabox4.gif);
}

.content5 {
    margin-left: 11px;
    background-image: url(../images/watchabox10.gif);
}

.content6 {
    background-image: url(../images/watchabox5.gif);
}

.content7 {
    background-image: url(../images/watchabox6.gif);
}

.content8 {
    background-image: url(../images/watchabox7.gif);
}

.content9 {
    margin-right: 10px;
    background-image: url(../images/watchabox9.gif);
}

.content10 {
    background-image: url(../images/watchabox8.gif);
}

.container {
    width: 1200px;
    margin: auto;
    color: transparent;
    position: relative;
}

aside div {
    margin-left: 60px;
    width: 432px;
    height: 430px;
}

.poster1 {
    background-image: url(../images/lalaland.jpg);
}

.poster2 {
    background-image: url(../images/singstreet.jpg);
}

footer {
    height: 100px;
    padding: 25px;
    color: white;
    justify-content: space-between;
}

main {
    flex-wrap: wrap;
    width: 712px;
    display: flex;
    gap: 15px;
}

main div {
    border: 2px solid #ff0459;
    width: 226px;
    height: 206px;
}

.content5,
.content9 {
    width: 452px;
    height: 206px;
}

main div:hover {
    background-position-y: -206px;
    transition: 0.5s;
}

